.navLink {
  color: var(--Main, #101828);
  font: 500 16px Inter, sans-serif;
}
.container {
  background: var(--White, #fff);
  max-width: 1312px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 80px;
  flex-direction: column;
  align-items: center;
}
.titleSection {
  display: flex;
  margin-top: 48px;
  width: 100%;
  max-width: 1312px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .titleSection {
    max-width: 100%;
    margin-top: 40px;
  }
}
.mainTitle {
  font: 600 24px/1 Inter, sans-serif;
  color: var(--Main, #101828);
}
.infoContainer {
  display: flex;
  margin-top: 8px;
  gap: 16px;
}
.reviewButton {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: underline;
}
.locationButton {
  display: flex;
  align-items: center;
  gap: 4px;
}
.icon {
  aspect-ratio: 1;
  width: 16px;
}
.price {
  font: 600 24px/1 Inter, sans-serif;
  color: var(--Main, #101828);
  margin-top: 16px;
}
.imageGallery {
  display: flex;
  margin-top: 28px;
  width: 100%;
  max-width: 1312px;
  gap: 48px;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .imageGallery {
    max-width: 100%;
  }
}
.galleryImage {
  aspect-ratio: 0.94;
  object-fit: cover;
  width: 292px;
  border-radius: 10px;
  min-width: 240px;
}
.description {
  color: var(--Text, #475467);
  margin: 28px 64px 0;
  padding: 0 64px;
  font: 400 16px/24px Inter, -apple-system, Roboto, Helvetica, sans-serif;
}
.featureTag {
  display: flex;
  align-items: center;
  border-radius: 100px;
  background: var(--Gray-100, #f2f4f7);
  gap: 8px;
  padding: 12px 18px;
  font: 500 16px Inter, sans-serif;
}
.featureIcon {
  width: 20px;
  aspect-ratio: 1;
}
